.Home {
    padding: 2% 8% 2% 8%;
}

.status-container {
    display: flex;
    justify-content: space-around;
}

.tasks-container {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.tasks-container>div {
    width: 100%;
}