.home {
    display: flex;
    height: 100vh;
}

.home-content {
    width: 100vw;
}

.box {
    padding: 30px 0 0 30px;
}

.status-container {
    display: flex;
    justify-content: space-around;
}

.tasks-container {
    display: flex;
    justify-content: space-between;
}

.tasks-container>div {
    width: 100%;
}