.Task {
    background-color: var(--primaryColor);
    border-radius: 10px;
    height: 7rem;
    margin: 20px 30px 0 0;
    padding: 4% 2% 4% 4%;
}

.Task h4 {
    color: white;
}

.Task p {
    color: lightgray;
    font-size: 13px;
    margin-top: 10px;
}